.character-card {
	width: 100%;
	max-width: 300px;
	border: 2px solid #4f46e5;
	border-radius: 4px;

	&__image {
		width: 100%;
		display: block;
		height: 200px;
	}

	&__content {
		padding: 4px 8px;
	}

	&__actions {
		padding: 8px 8px;
		button {
			width: 100%;
			min-height: 48px;
			background-color: #4f46e5;
			border: none;
			cursor: pointer;
			border-radius: 4px;
			font-weight: bold;

			&:hover {
				background-color: #4338ca;
				color: white;
			}
		}
	}
}
